/* GLOBALES */

li {
    list-style: none;
}

h2.titulo-body {
    font-size: 40px;
    font-family: 'anton';
    color: #010B56;
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
}

@font-face {
    font-family: "Fun City Level2";
    src: url(../font/FunCityLevel2Stencil.otf);
}


/* ------------------ HEADER ------------------ */

.header {
    background-color: #010B56;
}

.logo {
    width: 100%;
    max-width: 130px;
}

.header .row {
    padding: 5px;
}


/* titulo */

.federaciones {
    margin: 30px 0;
}

a.titulo {
    text-decoration: none;
}

h1.titulo {
    color: #fff;
    font-family: 'Trade Winds', cursive;
    margin-top: 25px;
}

.navmobile {
    display: none;
}


/* nav */

.listanav {
    display: flex;
    list-style: none;
}

.itemnav {
    padding: 0 20px;
}

.itemnav a {
    color: #fff;
    font-family: Raleway;
    font-weight: 700;
    text-decoration: none;
}

.itemnav a:hover {
    color: grey;
    transition: .3s all ease-out;
}


/* ------------------ FIN HEADER ------------------ */


/* ------------------ FEDERACIONES ------------------ */

.federacion img {
    width: 60%;
}

.federacion p {
    font-family: Raleway;
}


/* ------------------ FIN FEDERACIONES ------------------ */


/* ------------------  GALERIA ------------------ */

.galeria {
    margin-top: 40px;
    margin-bottom: -20px;
}

.imagen-galeria img {
    width: 100%;
    position: relative;
}

.imagen-galeria {
    background-color: black;
    text-align: center;
}

.club-galeria {
    font-family: 'Oswald';
}

.titulo-imagen {
    position: absolute;
    top: 10px;
    left: 10px;
}

.videos iframe {
    width: 90%;
}


/* ------------------ FIN GALERIA ------------------ */


/* ------------------ INSCRIPCIONES ------------------ */

.inscripciones-parrafo {
    font-size: 30px;
    font-family: Raleway;
}

.boton-inscripcion {
    margin-top: 50px;
}

.boton-inscripcion a {
    color: #010B56;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 30px;
    font-family: Raleway;
    border: 4px solid #010B56;
    border-radius: 360px;
}

.boton-inscripcion a:hover {
    color: #fff;
    background-color: #010B56;
    transition: .3s all ease-in;
}

.subir:hover {
    background-color: rgba(1, 11, 86, .8);
    transition: .3s all ease-in;
}


/* ------------------ FIN INSCRIPCIONES ------------------ */


/* ------------------ FOOTER ------------------ */

.container-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.footer {
    background-color: #010B56;
}

.texto-footer {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    text-align: center !important;
}

.panel {
    text-align: right;
}

.panel:hover {
    cursor: pointer;
}

.linea-footer {
    color: white;
}

.linea-footer {
    background-color: white;
}

.spam a,
.copyright a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.copyright a {
    font-weight: 700;
    transition: all .3s ease;
}

.copyright a:hover {
    text-decoration: underline;
}

.spam {
    padding: 20px;
}

.smt {
    font-family: 'Fun City Level2';
    color: red;
}


/* ------------------ FIN FOOTER ------------------ */


/* ------------------  CALENDARIO ------------------ */

.calendariotablaDesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    text-align: center;
    margin-top: -24px;
}

.torneo1 {
    grid-area: 1 / 1 / 4 / 2;
}

.torneo2 {
    grid-area: 1 / 2 / 4 / 3;
}

.torneo3 {
    grid-area: 1 / 3 / 4 / 4;
}

.calendariotablamobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    text-align: center;
    display: none;
}

.tablaCalendarioMobile {
    display: none;
}

.torneo1mobile {
    grid-area: 1 / 1 / 2 / 2;
}

.torneo2mobile {
    grid-area: 2 / 1 / 3 / 2;
}

.torneo3mobile {
    grid-area: 3 / 1 / 4 / 2;
}

.mes-calendario {
    background-color: #010B56;
}

.mes-calendario h2 {
    color: #fff;
    font-family: Raleway;
    font-weight: 700;
    text-align: center;
    padding: 5px;
}

.torneo {
    font-weight: 700;
    margin-top: 15px;
}

.card {
    color: #010B56;
    font-family: Raleway;
    font-weight: 700;
    text-align: center;
    margin: -5px 10px 10px;
    -webkit-box-shadow: -1px 1px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 15px 1px rgba(0, 0, 0, 0.75);
}

.columnas {
    justify-content: center;
    width: 100%;
}

.info i {
    font-size: 30px;
}

.info {
    padding: 15px;
}


/* ------------------ FIN CALENDARIO ------------------ */


/* ------------------  TORNEO ------------------ */

.Torneo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/3.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 360px;
    padding: 10px;
}

.Torneo h3 {
    color: #fff;
    font-family: Raleway;
    font-weight: 700;
    margin: 55px;
}

.Torneo h5 {
    color: #FFF;
    font-family: Raleway;
    font-weight: 700;
}

.Torneo p {
    color: #FFF;
    font-family: Raleway;
    font-weight: 700;
}

.listabotones {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 2rem;
}

.listabotones li {
    padding: 10px;
    border: 4px solid #fff;
    border-radius: 360px;
    padding: 10px;
    margin: 10px;
}

.listabotones li a {
    font-size: 20px;
    font-family: Raleway;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.listabotones li:hover {
    background-color: rgba(255, 255, 255, 0.253);
    transition: .3s all ease-in;
}


/* ------------------ FIN TORNEO ------------------ */


/* ------------------ RANKING -------------------------- */


/* CATEGORIAS */

.categorias-desktop {
    display: grid;
    grid-template-columns: repeat(5, 180px);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
}

.div5 {
    grid-area: 1 / 5 / 2 / 6;
}

.categorias-mobile {
    display: none;
    margin-right: 30px;
    margin-left: 30px;
}


/* fin categorias */

.botonCategoria {
    border: 4px solid #010B56;
    border-radius: 360px;
    padding: 5px;
}

.botonCategoria {
    color: #010B56;
    text-decoration: none;
    font-size: 20px;
    font-family: 'anton';
    margin: 0 10px;
}

.botonCategoria:hover {
    background-color: #010B56;
    transition: .3s all ease-in;
    color: #fff;
    cursor: pointer;
}

.botonCategoria a:hover {
    color: #fff;
}

.active {
    color: #fff !important;
    background-color: #010B56;
}

.puntaje-mobile {
    display: none;
}


/* TABLA RANKING */

.tablas-desktop {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.tabla1 {
    grid-area: 1 / 1 / 2 / 3;
}

.tabla2 {
    grid-area: 1 / 3 / 2 / 5;
}


/* TABLA PESOS */

.masculino,
.femenino {
    background-color: #010B56;
    border: #010B56 3px solid;
    color: #fff;
    padding: 12px;
    font-size: 20px;
    font-family: 'anton';
    text-align: center;
}

.femenino {
    padding: 0 17px;
}

.puntajes {
    color: #010B56;
    font-family: 'anton';
    border: #010B56 3px solid;
    text-align: center;
    color: #010B56;
}

.puntajes:hover {
    cursor: pointer;
    background-color: #010B56;
    color: #fff;
    transition: .3s all ease-in;
}

.ranking-header {
    background-color: #010B56;
    color: #fff;
    padding: 20px 50px;
    border: #010B56 3px solid;
    font-family: 'Anton';
    font-weight: normal;
}

.competidor {
    padding: 10px;
    color: #010B56;
    font-family: 'anton';
    border: #010B56 3px solid;
}

.competidor-imagen {
    text-align: left;
}

.paginacion {
    margin-top: 15px;
    text-align: center;
}

.paginacion a {
    background: #010B56;
    border-radius: 360px;
    padding: 5px 15px;
    color: #fff;
    font-family: 'anton';
}


/* ------------------ FIN RANKING -------------------------- */


/* ------------------ INFORMACION -------------------------- */

.informacion {
    color: black;
    font-family: 'anton';
    text-align: center;
    font-size: 25px;
}

.name {
    margin: 10px auto
}

.formulario {
    border: #010B56 3px solid;
    border-radius: 360px;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-family: 'anton';
    color: #000;
    font-size: 20px;
}

.formulario:focus {
    outline: none;
}

.formulario::placeholder,
.fecha::placeholder {
    color: #010B56;
    font-family: 'anton';
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
}

.lista-generos {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.lista-generos li {
    padding: 0 30px;
    font-family: 'anton';
    color: #010B56;
    margin: 13px;
    font-size: 20px;
}

.lista-generos li input {
    margin: 10px;
    border-color: #010B56;
}

.fecha {
    border: #010B56 3px solid;
    border-radius: 360px;
    width: 100%;
    padding: 1px;
    text-align: center;
    font-family: 'anton';
    color: #000;
    font-size: 20px;
    margin: 0 auto;
}

.fechaNa {
    justify-content: center;
}

.subir {
    border: #010B56 3px solid;
    border-radius: 360px;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-family: 'anton';
    font-size: 20px;
    background-color: #010B56;
}

.subir a {
    text-decoration: none;
    color: #fff;
}

.subir:hover {}

.lista-categorias {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 2rem;
}

.lista-categorias li {
    padding: 0 30px;
    font-family: 'anton';
    color: #010B56;
    margin: 13px;
    font-size: 20px;
}

.lista-categorias li input {
    margin: 10px;
    border-color: #010B56;
}


/* MEDIA */

@media (max-width: 992px) {
    h1.titulo {
        font-size: 32px;
    }
    .itemnav {
        padding: 0 10px;
    }
    .texto-footer {
        font-size: 17px;
    }
    .ranking-header {
        padding: 20px 20px;
        font-size: 15px;
    }
    .competidor {
        font-size: 14px;
    }
    .categorias-desktop {
        display: none;
    }
    .categorias-mobile {
        display: block;
    }
    .calendariotablamobile {
        display: block;
    }
    .calendariotablaDesktop {
        display: none;
    }
    .tablaCalendariodesktop {
        display: none;
    }
    .tablaCalendarioMobile {
        display: block;
    }
}

@media (max-width: 768px) {
    h1.titulo {
        font-size: 32px;
        text-align: center;
    }
    .logo {
        margin: 10px;
    }
    .navmobile {
        text-align: center;
        display: block;
        padding: 10px;
    }
    .listanav {
        display: none;
    }
    .open {
        display: block;
    }
    .opening {
        display: none;
    }
    .open li {
        padding: 10px 0;
        font-size: 25px;
    }
    .menu {
        color: white;
        font-size: 50px;
    }
    .inscripciones-parrafo {
        text-align: center;
    }
    .categorias-desktop {
        display: none;
    }
    .categorias-mobile {
        display: block;
    }
    .categorias-mobile .botonCategoria {
        margin: 10px 0;
    }
    .botonCategoria {
        padding: 5px;
    }
    .botonCategoria a {
        font-size: 20px;
        padding: 10px;
    }
    .puntaje-mobile {
        display: block;
    }
    .puntaje-desktop {
        display: none;
    }
    .tablas-desktop {
        display: none;
    }
    .tablas-mobile {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(2, 150px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .tabla1 {
        grid-area: 1 / 1 / 2 / 12;
    }
    .tabla2 {
        grid-area: 2 / 1 / 3 / 12;
    }
    .ranking-header {
        padding: 20px 0px;
        font-size: 15px;
    }
    .competidor {
        font-size: 14px;
    }
    .puntajes {
        padding: 8px;
    }
    .femenino {
        padding: 12px;
    }
    .espacio {
        margin-top: 650px;
    }
    .lista-generos li input {
        margin-left: 32px;
        font-size: 10px;
    }
    .lista-categorias li {
        font-size: 15px;
    }
    .lista-categorias li {
        padding: 0;
        margin: 1px;
    }
}

@media (max-width: 576px) {
    h1.titulo {
        font-size: 21px;
        text-align: center;
    }
    .logo {
        width: 80%;
    }
    h3.club-galeria {
        font-size: 25px;
    }
    .carousel-control-next span {
        margin-right: 25px;
    }
    .carousel-control-prev .prev {
        margin-left: 25px;
    }
    .videos iframe {
        width: 80%;
    }
    .fechaNa {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .input-fechaNa {
        margin-top: 3px;
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 360px) {
    h1.titulo {
        margin-right: 5px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
    }
}